[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xfce4-panel-auto-opaque
Comment=
Exec=/home/birkhoff/Birkhoff/Linux/script/xfce4-panel-auto-opaque.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

