#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Fenêtre
Exec=/usr/bin/gnome-pie -o 329
Encoding=UTF-8
Type=Application
Icon=preferences-system-windows
StartupWMClass=gnome-pie-329
