#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Menu Principal
Exec=/usr/bin/gnome-pie -o 878
Encoding=UTF-8
Type=Application
Icon=start-here
StartupWMClass=gnome-pie-878
