[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/lgo.svg]
row=3
col=24

[/home/birkhoff/Bureau/Briefing]
row=0
col=23

[/home/birkhoff/Bureau/57451123_327373371313352_5315339315214024704_n.jpg]
row=2
col=24

[/home/birkhoff/Bureau/ACMIL]
row=0
col=24

[/home/birkhoff/Bureau/Pilote]
row=1
col=24

[/home/birkhoff]
row=0
col=0

