[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/1coursInternet.pdf]
row=0
col=18

[/home/birkhoff/Bureau/cours_initiation_internet.pdf]
row=1
col=18

[/home/birkhoff/Bureau/comprendre Internet - YouTube.mkv]
row=3
col=18

[/home/birkhoff/Bureau/www_dominoes_stars_fr_strategie_domino_html.pdf]
row=2
col=18

[/home/birkhoff]
row=0
col=0

