[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/dessin.svg]
row=2
col=18

[/home/birkhoff/Bureau/57451123_327373371313352_5315339315214024704_n.jpg]
row=2
col=0

[/home/birkhoff/Bureau/EDT.jpg]
row=0
col=18

[/home/birkhoff/Bureau/lgo.svg]
row=3
col=0

[/home/birkhoff/Bureau/[ Torrent9.NZ ] Lucifer.S04.FRENCH.WEB.XviD-EXTREME]
row=5
col=0

[/home/birkhoff/Bureau/ACMIL]
row=1
col=0

[4D9D-18D8]
row=4
col=0

[/home/birkhoff]
row=0
col=0

